{% extends 'base.html.twig' %}



{% block body %}

    
        
           
                <div class="live-stream">
                    <div class="col-lg-12">
                    
                    <input type="text" id="searchInput" placeholder="Rechercher par nom...">
<button id="searchButton">Rechercher</button>

<ul id="tournamentList">
  <!-- Les résultats de la recherche seront affichés ici -->
</ul>

                        <div class="heading-section">
                       
                            <h4><em>Unmissable</em> Tournois</h4>
                            <a href="{{ path('app_tournois_new') }}">Create new</a>
                        </div>
                    </div>
                    <div class="row">
                    
                        {% for tournoi in tournois %}
                            <div class="col-lg-3 col-sm-6">
                                <div class="item">
                                    <div class="thumb">
                                            <img src="{{ asset('uploads/' ~ tournoi.logo) }}" alt="Image" >
                                        <div class="hover-effect">
                                            <div class="content">
                                                <div class="live">
                                                    <a href="{{ path('app_equipes_new', {'tournoi_id': tournoi.id}) }}">sign in</a>
                                                </div>
                                                <ul>
                                                    <li><a href="{{ path('app_tournois_show', {'id': tournoi.id}) }}"><i class="fa fa-eye"></i> show</a></li>
                                                    <li><a href="{{ path('app_tournois_edit', {'id': tournoi.id}) }}"><i class="fa fa-gamepad"></i> edit</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="down-content">
                                        
                                        <span><i class="fa fa-check"></i> {{tournoi.date|date('Y-m-d H:i:s')}}</span>
                                        <h4>{{tournoi.recomponse}}</h4>
                                    </div> 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            
        <script>
         
         </script>
   

{% endblock %}
