{% extends 'base2.html.twig' %}

{% block body %}
 
    {% block title %}Liste des Jeux{% endblock %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col p-md-0">
                <h2>Liste des Jeux</h2>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Lien</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr>
                                <td>{{ game.id }}</td>
                                <td>{{ game.name }}</td>
                                <td>{{ game.description }}</td>
                                <td><img src="{{ asset('uploads/' ~ game.image) }}" alt="Image" width="100" height="100"></td>
                                <td><span class="badge badge-primary px-2">{{ game.lien }}</span></td>
                                <td>{{ game.categorie.name }}</td>
                                <td>{{ game.date|date('Y-m-d') }}</td>
                                <td>
                                    <a href="{{ path('app_game_show', {'id': game.id}) }}" class="btn btn-primary">Show</a>
                                    <a href="{{ path('app_game_edit', {'id': game.id}) }}" class="btn btn-primary">Edit</a>
                                    {{ include('game/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('app_game_new') }}" class="btn btn-primary">Create new</a>
            </div>
        </div>
    </div>

{% endblock %}
