{% extends 'base2.html.twig' %}
{% block title %} Liste des Jeux {% endblock %}
{% block body %}

  <script src="{{ asset( 'js/jquery.js') }}"></script>  
    <div class="container">
        <div class="row justify-content-center">
            <div class="col p-md-0">
                <h2>Liste des Jeux</h2>
                <input type="search" class="form-control" placeholder="Chercher" id="search" aria-label="Search Dashboard">
                <table class="table table-bordered table-light" id="tableac">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Lien</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr>
                                <td>{{ game.id }}</td>
                                <td>{{ game.name }}</td>
                                <td>{{ game.description }}</td>
                                <td><img src="{{ asset('uploads/' ~ game.image) }}" alt="Image" width="100" height="100"></td>
                                <td><span class="badge badge-primary px-2">{{ game.lien }}</span></td>
                                <td>{{ game.categorie.name }}</td>
                                <td>{{ game.date|date('Y-m-d') }}</td>
                                <td>
                                    <a href="{{ path('app_game_show', {'id': game.id}) }}" class="btn btn-primary">Show</a>
                                    <a href="{{ path('app_game_edit', {'id': game.id}) }}" class="btn btn-primary">Edit</a>
                                    {{ include('game/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="page" value="{{page}}">  {#connaitre la page pour le filtrage#}
                <div class="d-flex justify-content-center">
                        {% do games.setPageRange(2) %}
                        {{ knp_pagination_render(games, 'pagination/pagination.html.twig')}}
                    </div>
                <a href="{{ path('app_game_new') }}" class="btn btn-primary">Create new</a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = false;
                    $(this).find('td:nth-child(2), td:nth-child(3)').each(function(){ 
                        if($(this).text().toLowerCase().includes(value.toLowerCase())){
                            found = true;
                            return false; 
                        }
                    });
                    if(found){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
    {#formulaire du filtrage #}
<form id="filtres">
    {% for categorie in categories %}
        <p><input type="checkbox" name="categories[]" id="cat{{categorie.id}}" value="{{categorie.id}}"> 
        <label for="cat{{categorie.id}}">{{categorie.name}}</label></p>
    {% endfor %}
    <script src="{{ asset('js/filters.js')}}"></script>
{% endblock %}

{#JS pour filtrage #}
