<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    
    {# Stylesheets #}
    {% block stylesheets %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon.png') }}">
    <!-- Pignose Calender -->
    <link href="{{ asset('./plugins/pg-calendar/css/pignose.calendar.min.css') }}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{{ asset('./plugins/chartist/css/chartist.min.css') }}">
    <link rel="stylesheet" href="{{ asset('./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css') }}">
    <!-- Custom Stylesheet -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}

    
    {# JavaScripts #}
    {% block javascripts %}
    <script src="{{ asset('plugins/common/common.min.js') }}" defer></script>
    <script src="{{ asset('js/custom.min.js') }}" defer></script>
    <script src="{{ asset('js/settings.js') }}" defer></script>
    <script src="{{ asset('js/gleek.js') }}" defer></script>
    <script src="{{ asset('js/styleSwitcher.js') }}" defer></script>
    

    <!-- Chart.js -->
    <script src="{{ asset('./plugins/chart.js/Chart.bundle.min.js') }}" defer></script>
    <!-- Circle progress -->
    <script src="{{ asset('./plugins/circle-progress/circle-progress.min.js') }}" defer></script>
    <!-- Datamap -->
    <script src="{{ asset('./plugins/d3v3/index.js') }}" defer></script>
    <script src="{{ asset('./plugins/topojson/topojson.min.js') }}" defer></script>
    <script src="{{ asset('./plugins/datamaps/datamaps.world.min.js') }}" defer></script>
    <!-- Morris.js -->
    <script src="{{ asset('./plugins/raphael/raphael.min.js') }}" defer></script>
    <script src="{{ asset('./plugins/morris/morris.min.js') }}" defer></script>
    <!-- Pignose Calendar -->
    <script src="{{ asset('./plugins/moment/moment.min.js') }}" defer></script>
    <script src="{{ asset('./plugins/pg-calendar/js/pignose.calendar.min.js') }}" defer></script>
    <!-- ChartistJS -->
    <script src="{{ asset('./plugins/chartist/js/chartist.min.js') }}" defer></script>
    <script src="{{ asset('./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js') }}" defer></script>

    <script src="{{ asset('/js/dashboard/dashboard-1.js') }}" defer></script>
{% endblock %}

</head>
<body>
    {% block header %}
    {{ include('header2.html.twig') }}
    {% endblock %}
    {% block sidebar %}
    {{ include('sideBar.html.twig') }}
    {% endblock %}
    {% block body %}
    {% endblock %}
    
</body>
</html>
<footer>
{% block footer %}
    {{ include('footer.html.twig') }}
    {% endblock %}
</footer>
