{% extends 'base2.html.twig' %}

{% block title %} Liste des Categories {% endblock %}

{% block body %}
<div class="container">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        <h2>Liste des Categories</h2>
            <!-- Barre latérale gauche -->
            <!-- Ajoutez ici votre contenu de la barre latérale -->
        </div>
        <div class="col-md-9">
            <!-- Contenu principal -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td style="color: black;">{{ categorie.id }}</td>
                        <td style="color: black;">{{ categorie.name }}</td>
                        <td style="color: black;">{{ categorie.description }}</td>
                        <td>
                            <a href="{{ path('app_categorie_show', {'id': categorie.id})}}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                        {% do categories.setPageRange(2) %}
                        {{ knp_pagination_render(categories, 'pagination/pagination.html.twig')}}
                    </div>

            <a href="{{ path('app_categorie_new') }}">Create new</a>
        </div>
    </div>
</div>
</div>
{% endblock %}

