{% extends 'base.html.twig' %}

{%  block body -%}
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->
                    <div class="search-input">
                      <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Details</a></li>
                        <li><a href="#">Streams</a></li>
                        <li><a href="#" class="active">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="{{ asset('userImages/' ~ app.user.pprofile) }}" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <span>{{app.user.pays}}</span>
                      <h4>{{app.user.prenom}} {{app.user.nom}}</h4>
                      {% set userBirthdate = app.user.datenai %}
									{% set now = "now"|date("Y-m-d") %}
									{% set userAge = now|date("Y") - userBirthdate|date("Y") %}
									{% if userBirthdate|date("m-d") > now|date("m-d") %}
										{% set userAge = userAge - 1 %}
									{% endif %}
                      <p>Age:{{ userAge }}</p>
                      <div class="main-border-button">
                        <a href="#" disabled>{{app.user.email}}</a>
                      </div>
                      <div class="main-border-button">
                        <a href="{{ path('update_profile', {'id' : app.user.id}) }}">Update profile</a>
                      </div>
                      <div class="main-border-button">
                        <a href="{{ path('app_logout') }}">Logout</a>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Gaming Library Start ***** -->
          
          <!-- ***** Gaming Library End ***** -->
        </div>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved. 
          
          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}


