{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
    <div style="margin-top: 50px;"> {# Add margin-top to move the form downwards #}
    <center><h1>Update {{app.user.prenom}} profile</h1></center>
        {% block form %}
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                {{ form_row(form.email, {'attr': {'class': 'form-control mb-3','data-error-class': 'error-message'}, 'label_attr': {'style': 'color: white'},   'value': user.email }) }}
                {{ form_row(form.nom, {'attr': {'class': 'form-control mb-3','data-error-class': 'error-message'}, 'label_attr': {'style': 'color: white'},   'value': user.nom }) }}
                {{ form_row(form.prenom, {'attr': {'class': 'form-control mb-3','data-error-class': 'error-message'}, 'label_attr': {'style': 'color: white'},   'value': user.prenom }) }}
                {{ form_row(form.pays, {'attr': {'class': 'form-control mb-3','data-error-class': 'error-message'}, 'label_attr': {'style': 'color: white'},   'value': user.pays }) }}
                {{ form_row(form.datenai, {'attr': {'class': 'form-control mb-3','data-error-class': 'error-message'}, 'label_attr': {'style': 'color: white'} }) }}
                {{ form_widget(form.pprofile) }}
               <center> <button type="submit" class="btn btn-success">Update</button></center>
            {{ form_end(form) }}
        {% endblock %}
    </div>
        </div>
            </div>
                </div>
                    </div>
{% endblock %}