{% extends 'base4.html.twig' %}


{% block body %}
<script src="{{ asset( 'js/jquery.js') }}"></script>
<div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>


                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Table Tournois</h4>
                                </div>
                                <div class="table-responsive">
                                
                                <input type="search" class="form-control" placeholder="Chercher" id="search" aria-label="Search Dashboard">
                               
                                    <table class="table table-hover" id="tableac">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>jeu</th>
                                                <th>reconpence</th>
                                                <th>logo</th>
                                                <th>lieu</th>
                                                <th>regle</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <div>
                                        {% for tournoi in tournois %}
                                            <tr>
                                                <th>{{tournoi.id}}</th>
                                                <td>{{ tournoi.jeu }}</td>
                                                <td><span class="badge badge-primary px-2">{{tournoi.recomponse}}</span>
                                                </td>
                                                <td>{{tournoi.logo}}</td>
                                                <td>{{tournoi.lieu}}</td>
                                                <td>{{tournoi.regle}}</td>
                                                
                                                <td>
                    <a href="{{ path('app_tournoisBack_show', {'id': tournoi.id}) }}">show</a>
                    <a href="{{ path('app_tournoisBack_edit', {'id': tournoi.id}) }}">edit</a>
                    <a href="{{ path('app_tournoisBack_delete', {'id': tournoi.id}) }}">delete</a>
                </td>
                                                
                                                
                                            </tr>
                                        {% endfor %}
                                        <a href="{{ path('app_tournoisBack_new') }}">Create new</a>
                                        </div>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = false;
                    $(this).find('td:nth-child(2), td:nth-child(3)').each(function(){ 
                        if($(this).text().toLowerCase().includes(value.toLowerCase())){
                            found = true;
                            return false; 
                        }
                    });
                    if(found){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
{% endblock %}